%explanation-paragraph {
	padding-bottom: 25px;

	@include breakpoint('slarge') {
		// margin: 15px;
		// padding: 25px;
		// background-color: #FFFFFF;
		// color: #222;
		// max-width: 600px;/
	}
}

.explanation-time {
	@extend %explanation-paragraph;
}

.explanation-fools {
	@extend %explanation-paragraph;

	display: none;

	.fools-day & {
		display: block;
	}
}

.explanation-side {
	@extend %explanation-paragraph;
}

%explanation-info {
	position: relative;
	display: inline-block;

	&::after {
		content: '';
		position: absolute;
		bottom: 2px;
		display: block;
		width: 100%;
		height: 2px;
		background-color: rgba(255,255,255,.3);
	}
}

#current-date {
	@extend %explanation-info;
}

#parking-side{
	@extend %explanation-info;
}

.happy-fool {
	@extend %explanation-info;
}
