#content {
	overflow-x: hidden;
	position: relative;
	min-height: 100%;
	font-family: 'Rubik';
	margin: 0 auto;
}

#main {
	padding: 0 35px 75px 35px;
	color: #FFFFFF;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.site-title {
	padding: 25px 0 35px 0;
	font-size: rem(144px);
	font-kerning: normal;

	@include breakpoint('small') {
		font-size: 18.66667vw; // (70 / 375) * 100
	}
}

#side-bar {
	display: block;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 15px;
	height: 100%;
	background-color: rgba(0,0,0,.2);
}

#about {
	position: relative;
		z-index: 2;
	padding: 20px 35px;
	background-color: #FFFFFF;
		font-size: rem(20px);
		color: #343434;
		line-height: 1.4
}

.about-title {
	font-size: rem(24px);
	text-transform: uppercase;
}

.about-paragraph {
	margin: 1em 0;
}

.about-footer {
	font-size: rem(18px);
}
