%clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

%hide-selection {
	&::selection {
		background-color: transparent;
	}
}

%no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select:none;
}